<!-- <html>

<h1>Create New User</h1>

<body>

<form accept-charset="UTF-8" action="/users" data-remote="true" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><br><br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]"><br><br>
  <label for="password">Password</label>
  <input type="text" id="password" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the 
server called "action_page.erb".</p>
</body>
</html>  -->

<!-- <h1>Create New User</h1>

<%= form_tag("/users", method: "post") do %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:password, "Password") %>
    <%= text_field_tag(:password) %>
    <%= submit_tag("Submit") %>
<% end %>  -->

<%= form_for @user do |f|  %>
    <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
    <%= f.label :Username, 'Write down your user' %>
    <%= f.text_field :username, value: 'jaxson2300' %><br><br>
    <%= f.label :Email %>
    <%= f.email_field :email , placeholder: 'example@example.com' %><br><br>
    <%= f.label :Password %>
    <%= f.password_field :password %><br><br>
    <%= f.submit %>
<% end %>